<%= form_for(@user_relation) do |f| %>
  <% if @user_relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_relation.errors.count, "error") %> prohibited this user_relation from being saved:</h2>

      <ul>
      <% @user_relation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :request_user_id %><br />
    <%= f.text_field :request_user_id %>
  </div>
  <div class="field">
    <%= f.label :receiver_user_id %><br />
    <%= f.text_field :receiver_user_id %>
  </div>
  <div class="field">
    <%= f.label :security %><br />
    <%= f.text_field :security %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
