<p id="notice"><%= notice %></p>

<p>
  <b>Request user:</b>
  <%= @user_relation.request_user_id %>
</p>

<p>
  <b>Receiver user:</b>
  <%= @user_relation.receiver_user_id %>
</p>

<p>
  <b>Security:</b>
  <%= @user_relation.security %>
</p>


<%= link_to 'Edit', edit_user_relation_path(@user_relation) %> |
<%= link_to 'Back', user_relations_path %>
